In [1]:
import pandas as pd
ages = pd.DataFrame({'years': [10, 14, 30, 53, 67, 32, 45],
                    'name': ['A', 'B', 'C', 'D', 'E', 'F', 'G']})
ages

   years name
0     10    A
1     14    B
2     30    C
3     53    D
4     67    E
5     32    F
6     45    G

In [2]:
pd.cut(ages['years'], 3)

0    (9.943, 29.0]
1    (9.943, 29.0]
2     (29.0, 48.0]
3     (48.0, 67.0]
4     (48.0, 67.0]
5     (29.0, 48.0]
6     (29.0, 48.0]
Name: years, dtype: category
Categories (3, interval[float64]): [(9.943, 29.0] < (29.0, 48.0] < (48.0, 67.0]]

In [3]:
pd.qcut(ages['years'], 3)

0    (9.999, 30.0]
1    (9.999, 30.0]
2    (9.999, 30.0]
3     (45.0, 67.0]
4     (45.0, 67.0]
5     (30.0, 45.0]
6     (30.0, 45.0]
Name: years, dtype: category
Categories (3, interval[float64]): [(9.999, 30.0] < (30.0, 45.0] < (45.0, 67.0]]

In [9]:
pd.cut?

In [5]:
pd.qcut?

In [6]:
klass = pd.cut(ages['years'], 3, labels=[0, 1, 2])
ages['label'] = klass
ages

   years name label
0     10    A     0
1     14    B     0
2     30    C     1
3     53    D     2
4     67    E     2
5     32    F     1
6     45    G     1

In [8]:
ages2 = pd.DataFrame({'years': [10, 14, 30, 53, 300, 32, 45],
                     'name': ['A', 'B', 'C', 'D', 'E', 'F', 'G']})
klass2 = pd.cut(ages2['years'], 3, labels=['Young', 'Middle', 'Senior'])
ages2['label'] = klass2
ages2

   years name   label
0     10    A   Young
1     14    B   Young
2     30    C   Young
3     53    D   Young
4    300    E  Senior
5     32    F   Young
6     45    G   Young

In [10]:
# 通过离散化消除对离群值的影响
ages = pd.DataFrame({'years': [10, 14, 30, 53, 300, 32, 45],
                    'name': ['A', 'B', 'C', 'D', 'E', 'F', 'G']})
klass2 = pd.cut(ages2['years'], bins=[9, 30, 50, 300], labels=['Young', 'Middle', 'Senior'])
ages2['label'] = klass2
ages2

   years name   label
0     10    A   Young
1     14    B   Young
2     30    C   Young
3     53    D  Senior
4    300    E  Senior
5     32    F  Middle
6     45    G  Middle