In [56]:
import pandas as pd
df = pd.DataFrame([{'col1': "a", 'col2': '1'},
                  {'col1': 'b', 'col2': '2'}])
df.dtypes

col1    object
col2    object
dtype: object

In [57]:
df

  col1 col2
0    a    1
1    b    2

In [3]:
# astype

df['col2-int'] = df['col2'].astype(int)
df

  col1 col2  col2-int
0    a    1         1
1    b    2         2

In [4]:
df.dtypes

col1        object
col2        object
col2-int     int64
dtype: object

In [5]:
s = pd.Series(['1', '2', '4.7', 'pandas', '10'])
s.astype(float)

ValueError: could not convert string to float: 'pandas'

In [6]:
s.astype(float, errors='ignore')

0         1
1         2
2       4.7
3    pandas
4        10
dtype: object

In [7]:
pd.to_numeric(s)

ValueError: Unable to parse string "pandas" at position 3

In [8]:
pd.to_numeric?

In [9]:
pd.to_numeric(s, errors='coerce')

0     1.0
1     2.0
2     4.7
3     NaN
4    10.0
dtype: float64

# 项目案例

In [72]:
df = pd.read_csv("./data/movies.csv")
df

,Unnamed: 0,上映日期,片名,类型,制片国家/地区,想看,ID,导演,主演
0,0,05月31日,哥斯拉2：怪兽之王,动作 / 科幻 / 冒险,美国,40734人,25890017,迈克尔·道赫蒂,维拉·法米加|米莉·波比·布朗|章子怡|莎莉·霍金斯|布莱德利·惠特福德|查尔斯·丹斯|凯尔...
1,1,05月31日,尺八·一声一世,纪录片 / 音乐,中国大陆,5305人,27185648,聿馨,佐藤康夫|小凑昭尚|蔡鸿文|徐浩鹏|海山|三桥贵风|星梵竹|三冢幸彦|梁文道|陆川|龚琳娜
2,2,05月31日,卡拉斯：为爱而声,纪录片,法国,2047人,27089205,汤姆·沃尔夫,玛丽亚·卡拉斯|维托里奥·德·西卡|亚里士多德·奥纳西斯|皮埃尔·保罗·帕索里尼|奥马尔·沙...
3,3,05月31日,托马斯大电影之世界探险记,儿童 / 动画,英国,972人,30236340,大卫·斯特登,蒂娜·德赛|约瑟夫·梅|泰莉莎·加拉赫|凯瑞·莎勒|约翰·哈斯勒|大卫·麦金|金宝·张|彼得...
4,4,05月31日,花儿与歌声,剧情 / 儿童 / 家庭,中国大陆,136人,33393269,王蕾,魏歆惠|刘晨毅|王润泽|曹一诺|周琳翌|周北辰|曹德祥|郑陈皓淼
...,...,...,...,...,...,...,...,...,...
91,91,2020年01月25日,囧妈,剧情 / 喜剧,中国大陆,6987人,30306570,徐峥,徐峥|王祖蓝|彭昱畅|潘虹
92,92,2020年01月25日,中国女排,剧情,中国大陆 / 香港,2671人,30128916,陈可辛,巩俐
93,93,2020年01月25日,大红包,喜剧 / 爱情,中国大陆,20人,33457717,李克龙,包贝尔|李成敏|许君聪|王小利|廖蔚蔚
94,94,2020年06月21日,六月的秘密,剧情 / 悬疑 / 音乐,中国大陆 / 美国,542人,30216731,王暘,郭富城|苗苗|吴建飞
95,95,2020年10月01日,黑色假面,剧情 / 悬疑,中国大陆,3957人,26986136,NaN,NaN

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  96 non-null     int64
 1   上映日期        96 non-null     object
 2   片名          96 non-null     object
 3   类型          96 non-null     object
 4   制片国家/地区     96 non-null     object
 5   想看          96 non-null     object
 6   ID          96 non-null     int64
 7   导演          93 non-null     object
 8   主演          88 non-null     object
dtypes: int64(2), object(7)
memory usage: 6.9+ KB

In [74]:
df['ID'].astype(str)

0     25890017
1     27185648
2     27089205
3     30236340
4     33393269
        ...
91    30306570
92    30128916
93    33457717
94    30216731
95    26986136
Name: ID, Length: 96, dtype: object

In [75]:
def convert_view(value):
    value = value.replace('人', '')
    return int(value)

In [76]:
df['想看'].apply(convert_view)

0     40734
1      5305
2      2047
3       972
4       136
      ...
91     6987
92     2671
93       20
94      542
95     3957
Name: 想看, Length: 96, dtype: int64

In [79]:
df = pd.read_csv('./data/movies.csv', 
                dtype={'ID': 'str'},
                converters={
                    '想看': convert_view
                })
df

,Unnamed: 0,上映日期,片名,类型,制片国家/地区,想看,ID,导演,主演
0,0,05月31日,哥斯拉2：怪兽之王,动作 / 科幻 / 冒险,美国,40734,25890017,迈克尔·道赫蒂,维拉·法米加|米莉·波比·布朗|章子怡|莎莉·霍金斯|布莱德利·惠特福德|查尔斯·丹斯|凯尔...
1,1,05月31日,尺八·一声一世,纪录片 / 音乐,中国大陆,5305,27185648,聿馨,佐藤康夫|小凑昭尚|蔡鸿文|徐浩鹏|海山|三桥贵风|星梵竹|三冢幸彦|梁文道|陆川|龚琳娜
2,2,05月31日,卡拉斯：为爱而声,纪录片,法国,2047,27089205,汤姆·沃尔夫,玛丽亚·卡拉斯|维托里奥·德·西卡|亚里士多德·奥纳西斯|皮埃尔·保罗·帕索里尼|奥马尔·沙...
3,3,05月31日,托马斯大电影之世界探险记,儿童 / 动画,英国,972,30236340,大卫·斯特登,蒂娜·德赛|约瑟夫·梅|泰莉莎·加拉赫|凯瑞·莎勒|约翰·哈斯勒|大卫·麦金|金宝·张|彼得...
4,4,05月31日,花儿与歌声,剧情 / 儿童 / 家庭,中国大陆,136,33393269,王蕾,魏歆惠|刘晨毅|王润泽|曹一诺|周琳翌|周北辰|曹德祥|郑陈皓淼
...,...,...,...,...,...,...,...,...,...
91,91,2020年01月25日,囧妈,剧情 / 喜剧,中国大陆,6987,30306570,徐峥,徐峥|王祖蓝|彭昱畅|潘虹
92,92,2020年01月25日,中国女排,剧情,中国大陆 / 香港,2671,30128916,陈可辛,巩俐
93,93,2020年01月25日,大红包,喜剧 / 爱情,中国大陆,20,33457717,李克龙,包贝尔|李成敏|许君聪|王小利|廖蔚蔚
94,94,2020年06月21日,六月的秘密,剧情 / 悬疑 / 音乐,中国大陆 / 美国,542,30216731,王暘,郭富城|苗苗|吴建飞
95,95,2020年10月01日,黑色假面,剧情 / 悬疑,中国大陆,3957,26986136,NaN,NaN

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  96 non-null     int64
 1   上映日期        96 non-null     object
 2   片名          96 non-null     object
 3   类型          96 non-null     object
 4   制片国家/地区     96 non-null     object
 5   想看          96 non-null     int64
 6   ID          96 non-null     object
 7   导演          93 non-null     object
 8   主演          88 non-null     object
dtypes: int64(2), object(7)
memory usage: 6.9+ KB

In [53]:
df = pd.read_csv("./data/sales_types.csv")
df

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002.0,Quest Industries,"$125,000.00",$162500.00,30.00%,500,1,10,2015,Y
1,552278.0,Smith Plumbing,"$920,000.00","$101,2000.00",10.00%,700,6,15,2014,Y
2,23477.0,ACME Industrial,"$50,000.00",$62500.00,25.00%,125,3,29,2016,Y
3,24900.0,Brekke LTD,"$350,000.00",$490000.00,4.00%,75,10,27,2015,Y
4,651029.0,Harbor Co,"$15,000.00",$12750.00,-15.00%,Closed,2,2,2014,N

In [54]:
df.dtypes

Customer Number    float64
Customer Name       object
2016                object
2017                object
Percent Growth      object
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      float64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent Growth   5 non-null      object
 5   Jan Units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 528.0+ bytes

In [13]:
# (1)将Customer Number的数据转化为字符串类型
df['Customer Number']

0     10002.0
1    552278.0
2     23477.0
3     24900.0
4    651029.0
Name: Customer Number, dtype: float64

In [14]:
df[['Customer Number']]

   Customer Number
0          10002.0
1         552278.0
2          23477.0
3          24900.0
4         651029.0

In [15]:
df['Customer Number'].astype(int).astype(str)

0     10002
1    552278
2     23477
3     24900
4    651029
Name: Customer Number, dtype: object

In [16]:
# (2)处理非数字的字符"$"和","
df[['2016', '2017']]

          2016          2017
0  $125,000.00    $162500.00
1  $920,000.00  $101,2000.00
2   $50,000.00     $62500.00
3  $350,000.00    $490000.00
4   $15,000.00     $12750.00

In [17]:
def convert_money(value):
    new_value = value.replace("$", "").replace(",", "")
    return float(new_value)

df['2016'].apply(convert_money)

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [18]:
df['2017'].apply(convert_money)

0     162500.0
1    1012000.0
2      62500.0
3     490000.0
4      12750.0
Name: 2017, dtype: float64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      float64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent Growth   5 non-null      object
 5   Jan Units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 528.0+ bytes

In [20]:
# (3)处理Percent Growth
df['Percent Growth']

0     30.00%
1     10.00%
2     25.00%
3      4.00%
4    -15.00%
Name: Percent Growth, dtype: object

In [21]:
conv_fun = lambda x: float(x.replace("%", "")) / 100
df['Percent Growth'].apply(conv_fun)

0    0.30
1    0.10
2    0.25
3    0.04
4   -0.15
Name: Percent Growth, dtype: float64

In [22]:
# (4)特征值中有一个字符串“Closed", to_numeric(errors="coerce")
df['Jan Units']

0       500
1       700
2       125
3        75
4    Closed
Name: Jan Units, dtype: object

In [23]:
pd.to_numeric(df['Jan Units'], errors='coerce')

0    500.0
1    700.0
2    125.0
3     75.0
4      NaN
Name: Jan Units, dtype: float64

In [24]:
# (5) 特征”Active"的数据只有两类，要求用数字1和0来表示
df['Active']

0    Y
1    Y
2    Y
3    Y
4    N
Name: Active, dtype: object

In [25]:
import numpy as np
np.where(df['Active']=="Y", 1, 0)

array([1, 1, 1, 1, 0])

In [26]:
np.where?

In [27]:
df[['Year', 'Month', 'Day']]

   Year  Month  Day
0  2015      1   10
1  2014      6   15
2  2016      3   29
3  2015     10   27
4  2014      2    2

In [28]:
pd.to_datetime(df[['Month', 'Day', 'Year']])

0   2015-01-10
1   2014-06-15
2   2016-03-29
3   2015-10-27
4   2014-02-02
dtype: datetime64[ns]

In [29]:
import pandas as pd
import numpy as np

def convert_money(value):
    new_value = value.replace(",", "").replace("$", "")
    return float(new_value)

df2 = pd.read_csv("./data/sales_types.csv", dtype={"Customer Number": 'int'},
                 converters={
                     '2016': convert_money,
                     '2017': convert_money,
                     'Percent Growth':
                     lambda x: float(x.replace("%", "")) / 100,
                     'Jan Units':
                     lambda x: pd.to_numeric(x, errors='coerce'),
                     'Active': lambda x: np.where(x=='Y', 1, 0)
                 })
df2['Date'] = pd.to_datetime(df[['Month', 'Day', 'Year']])
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      int64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      float64
 3   2017             5 non-null      float64
 4   Percent Growth   5 non-null      float64
 5   Jan Units        4 non-null      float64
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
 10  Date             5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(4), object(2)
memory usage: 568.0+ bytes

In [30]:
df2

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active,Date
0,10002,Quest Industries,125000.0,162500.0,0.30,500.0,1,10,2015,1,2015-01-10
1,552278,Smith Plumbing,920000.0,1012000.0,0.10,700.0,6,15,2014,1,2014-06-15
2,23477,ACME Industrial,50000.0,62500.0,0.25,125.0,3,29,2016,1,2016-03-29
3,24900,Brekke LTD,350000.0,490000.0,0.04,75.0,10,27,2015,1,2015-10-27
4,651029,Harbor Co,15000.0,12750.0,-0.15,NaN,2,2,2014,0,2014-02-02

# 动手练习

In [58]:
import pandas as pd
data = pd.read_csv("./data/bra.csv")
data

              creationTime productColor productSize
0      2016-06-08 17:17:00        22咖啡色         75C
1      2017-04-07 19:34:25        22咖啡色         80B
2      2016-06-18 19:44:56         02粉色         80C
3      2017-08-03 20:39:18        22咖啡色         80B
4      2016-07-06 14:02:08        22咖啡色         75B
...                    ...          ...         ...
15492  2017-10-28 22:39:44           粉色     38B/85B
15493  2017-11-11 00:13:32    粉色套装（含内裤）     36C/80C
15494  2017-11-01 14:41:08           黑色     34A/75A
15495  2017-10-31 18:40:09           粉色     34B/75B
15496  2017-11-07 18:38:14           黑色     36A/80A

[15497 rows x 3 columns]

In [59]:
data.dtypes

creationTime    object
productColor    object
productSize     object
dtype: object

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15497 entries, 0 to 15496
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   creationTime  15497 non-null  object
 1   productColor  15496 non-null  object
 2   productSize   15496 non-null  object
dtypes: object(3)
memory usage: 363.3+ KB

In [61]:
import re

data['productColor'].apply(lambda x: re.sub("(\d+)", "", x))
data['productColor']

TypeError: expected string or bytes-like object

In [67]:
data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15496 entries, 0 to 15496
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   creationTime  15496 non-null  object
 1   productColor  15496 non-null  object
 2   productSize   15496 non-null  object
 3   color         15496 non-null  object
dtypes: object(4)
memory usage: 605.3+ KB

In [68]:
# 将productColor数据去掉数字
import re

data['color'] = data['productColor'].apply(lambda x: re.sub("(\d+)", "", x))
data

<ipython-input-68-e4bb6728a234>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['color'] = data['productColor'].apply(lambda x: re.sub("(\d+)", "", x))

              creationTime productColor productSize      color
0      2016-06-08 17:17:00        22咖啡色         75C        咖啡色
1      2017-04-07 19:34:25        22咖啡色         80B        咖啡色
2      2016-06-18 19:44:56         02粉色         80C         粉色
3      2017-08-03 20:39:18        22咖啡色         80B        咖啡色
4      2016-07-06 14:02:08        22咖啡色         75B        咖啡色
...                    ...          ...         ...        ...
15492  2017-10-28 22:39:44           粉色     38B/85B         粉色
15493  2017-11-11 00:13:32    粉色套装（含内裤）     36C/80C  粉色套装（含内裤）
15494  2017-11-01 14:41:08           黑色     34A/75A         黑色
15495  2017-10-31 18:40:09           粉色     34B/75B         粉色
15496  2017-11-07 18:38:14           黑色     36A/80A         黑色

[15496 rows x 4 columns]

In [69]:
# 将productSize数据分去掉数字
data['size'] = data['productSize'].apply(lambda x: re.sub('(\d+)', '', x))
data

<ipython-input-69-28f493314374>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['size'] = data['productSize'].apply(lambda x: re.sub('(\d+)', '', x))

              creationTime productColor productSize      color size
0      2016-06-08 17:17:00        22咖啡色         75C        咖啡色    C
1      2017-04-07 19:34:25        22咖啡色         80B        咖啡色    B
2      2016-06-18 19:44:56         02粉色         80C         粉色    C
3      2017-08-03 20:39:18        22咖啡色         80B        咖啡色    B
4      2016-07-06 14:02:08        22咖啡色         75B        咖啡色    B
...                    ...          ...         ...        ...  ...
15492  2017-10-28 22:39:44           粉色     38B/85B         粉色  B/B
15493  2017-11-11 00:13:32    粉色套装（含内裤）     36C/80C  粉色套装（含内裤）  C/C
15494  2017-11-01 14:41:08           黑色     34A/75A         黑色  A/A
15495  2017-10-31 18:40:09           粉色     34B/75B         粉色  B/B
15496  2017-11-07 18:38:14           黑色     36A/80A         黑色  A/A

[15496 rows x 5 columns]

In [70]:
# 将creation Time数据分为两列
data['date'] = data['creationTime'].apply(lambda x: x.split(" ")[0])
data['time'] = data['creationTime'].apply(lambda x: x.split(" ")[1])

<ipython-input-70-5993b64a70b7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = data['creationTime'].apply(lambda x: x.split(" ")[0])
<ipython-input-70-5993b64a70b7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = data['creationTime'].apply(lambda x: x.split(" ")[1])

In [71]:
data

,creationTime,productColor,productSize,color,size,date,time
0,2016-06-08 17:17:00,22咖啡色,75C,咖啡色,C,2016-06-08,17:17:00
1,2017-04-07 19:34:25,22咖啡色,80B,咖啡色,B,2017-04-07,19:34:25
2,2016-06-18 19:44:56,02粉色,80C,粉色,C,2016-06-18,19:44:56
3,2017-08-03 20:39:18,22咖啡色,80B,咖啡色,B,2017-08-03,20:39:18
4,2016-07-06 14:02:08,22咖啡色,75B,咖啡色,B,2016-07-06,14:02:08
...,...,...,...,...,...,...,...
15492,2017-10-28 22:39:44,粉色,38B/85B,粉色,B/B,2017-10-28,22:39:44
15493,2017-11-11 00:13:32,粉色套装（含内裤）,36C/80C,粉色套装（含内裤）,C/C,2017-11-11,00:13:32
15494,2017-11-01 14:41:08,黑色,34A/75A,黑色,A/A,2017-11-01,14:41:08
15495,2017-10-31 18:40:09,粉色,34B/75B,粉色,B/B,2017-10-31,18:40:09
15496,2017-11-07 18:38:14,黑色,36A/80A,黑色,A/A,2017-11-07,18:38:14