In [1]:
import pandas as pd
path = "./data/pm25"
df = pd.read_csv(path+"/pm2.csv")
df.sample(10)  # 从数据集中抽样选取样本

     RANK  CITY_ID CITY_NAME  Exposed days
28     32      564       六盘水            40
169   192       36        太原           126
217   240      315        东营           170
115   127       97        阜新            91
113   125      101        铁岭            90
96    107      514        河池            85
53     61      505       防城港            57
46     53      611        金昌            51
102   114      143        鸡西            87
239   262      335        泰安           198

In [2]:
df.shape

(264, 4)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   RANK          264 non-null    int64
 1   CITY_ID       264 non-null    int64
 2   CITY_NAME     264 non-null    object
 3   Exposed days  264 non-null    int64
dtypes: int64(3), object(1)
memory usage: 8.4+ KB

In [4]:
df.dtypes

RANK             int64
CITY_ID          int64
CITY_NAME       object
Exposed days     int64
dtype: object